<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exemplo.miniengine">

    <uses-feature android:glEsVersion="0x00010001" android:required="true" />

    <application
        android:label="Mini Engine"
        android:hasCode="false"
        android:allowBackup="true">

        <activity
            android:name="android.app.NativeActivity"
            android:label="Mini Engine"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">

            <meta-data android:name="android.app.lib_name" android:value="jogo" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
